
# Created by https://www.gitignore.io/api/vagrant,ansible

### Ansible ###
*.retry

### Vagrant ###
# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.logs


# End of https://www.gitignore.io/api/vagrant,ansible
