{% if redmine_settings is defined %}
# Redmineの管理
{% for redmine_setting_key, redmine_setting_value in redmine_settings.items() %}
{% if redmine_setting_key == 'default_projects_trackers' -%}
Setting.default_projects_tracker_ids = Tracker.where(:name => ["{{ redmine_setting_value|map('string')|join('", "') }}"]).pluck(:id).map {|item| item.to_s }
{% else -%}
Setting.{{ redmine_setting_key }} = {{ '"' + redmine_setting_value|string + '"' if redmine_setting_value is string or redmine_setting_value is number else '["' + redmine_setting_value|map('string')|join('", "') + '"]' }}
{% endif %}
{% endfor %}
{% endif %}
