require 'yaml'

{% include "settings/admin.rb.j2" %}
{% include "settings/issue_status.rb.j2" %}
{% include "settings/tracker.rb.j2" %}
{% include "settings/setting.rb.j2" %}
{% include "settings/workflow.rb.j2" %}

quit
